[2017-08-24 09:51] sblanchet opened #6 "Many missing submodules to compile TangoSourceDistribution"
[`TangoSourceDistribution`](https://github.com/tango-controls/TangoSourceDistribution) needs many submodules to compile (for example  [`tango-idl`](https://github.com/tango-controls/tango-idl) or [`cppTango`](https://github.com/tango-controls/cppTango) )
It would be nice to have a `.gitmodules` file to specify all the required submodules, so that users can call
 `git clone --recursive` to have a r

[2017-08-30 15:36] bourtemb commented on #6
Hi Sébastien.

Thank you very much for your help.
Using git submodules seems like the most natural/fastest way for this specific git repository, as it is done in HDB++. Even though in HDB++ we may end up using something different than sub-modules because it is not always easy to develop with them.
The latest Tango distribution was built from Sourceforge/subversion.
The next release of the Tango di

[2018-10-02 19:13] tanj opened #9 "incorrect comparison brackets"
https://github.com/tango-controls/TangoSourceDistribution/blob/a155290d3d5661079ae4913a67ad8facd9c003f0/configure#L19576

https://github.com/tango-controls/TangoSourceDistribution/blob/a155290d3d5661079ae4913a67ad8facd9c003f0/configure#L19983

These comparisons are not doing what is expected and will always return false. You should be using double-brackets for these tests.

http://tldp.org/LDP/abs

[2018-10-03 08:49] Ingvord commented on #9
@tanj , thanks for the suggestion!

This could be a reason for [this issue](https://github.com/tango-controls/TangoSourceDistribution/pull/8#issuecomment-425403756)

I will check that out...

[2018-10-03 09:07] Ingvord commented on #9
Nope, that did not work:

./configure still fails on Debian stretch

[code]
...
[code]

[2018-10-03 11:50] tanj commented on #9
In order to get past the sql detection I had to have these options.

[code]

I found that the mysql_version.h file is not in the /usr/include/mariadb path on a gentoo system. mariadb-10.1.34

[2018-10-03 13:46] Ingvord commented on #9
Wow, @tanj , that is definitely a step forward. Meaning that it is not a problem of `./configure`. Thanks.

Unfortunately this did not work out for on my Debian 9 VB:

[code]
...
[code]
...
[code]

while

[code]

[2018-10-03 14:39] bourtemb commented on #9
The check for mariadbclient in the configure script seems to be obsolete.
It is trying to compile a simple app by linking with -lmariadb instead of -lmariadbclient or -lmariadbclient_r. (See configure script at line 19799):
`MARIADBCLIENT_LIBS="-lmariadb"`

It looks like all this section should be rewritten in the configure script.
I think the script should take advantage of pkg-config whenever po

[2018-10-03 15:05] bourtemb commented on #9
Ooops, sorry, my mistake... I don't have much experience with autotools.
Forgot to regenerate the configure script with bootstrap...
But when I do that, I get the following errors:

[code]

doc/src was needed to generate the tango book in the past since we needed to provide the source files needed to generate the documentation in order to be compliant with the Debian rules. Thanks @taurel for the

[2018-10-03 15:34] Ingvord commented on #9
@bourtemb,

Already done in ant script, in #8, but slightly different - it downloads pdf file generated by readthedocs.

[2018-10-03 15:36] bourtemb commented on #9
As I understood, we need to provide the sources used to generate this pdf if we want to be compliant with the Debian rules.

[2018-11-21 10:30] Ingvord commented on #6
I think this may be closed due to #8

[2018-11-21 10:30] #6 closed, assigned to nobody

[2018-11-27 10:19] cmft opened #10 "ant build reports build errors on Debian9"
Dear Tangoers,
I try to generate the tar file using `ant build package` command and  I get a linking error: in cppTango step. (Using Master branch and the closed PR #8 branch)
Maybe it is caused since it could not  find some .h files. Could you give a hint?

[code]

I attached  the CMakeOutput.log and CMakeError files.

Many thanks in advance.
[CMakeOutput.log](https://github.com/tango-controls/Ta

[2018-11-27 10:24] bourtemb commented on #10
Hi, it looks like it is not finding omniidl executable in your case. This is required in order to be able to generate tango.h file from tango.idl file.
I think it would be good to list the dependencies and required software in the TangoSourceDistribution README.

[2018-11-27 10:28] cmft commented on #10
Thanks @bourtemb. It was the problem. Is a good idea to add the dependencies in the README

[2018-11-27 10:28] #10 closed, assigned to nobody

[2018-11-27 15:18] cmft opened #11 "Question/notes about compiling TangoSourceDistribution"
I'm testing the master branch on Debian 9 and I found some troubles:

`ant clean` reports this problem:
[code]

`ant build package` seems to work, it creates a source dir and a tar file

[code]

but if I try to compile the generated sources
[code]
If I manually fix the permission of configure file, after run it, I got this error.
[code]

What i'm doing wrong?

[2018-11-29 14:16] Ingvord commented on #11
@cmft, `ant clean` reports this problem:

[code]

Should be fixed in 6b48cd6

[2018-11-29 14:21] Ingvord commented on #11
@cmft ,

`bash: ./configure: Permission denied`

this is due to `ant copy` task used underlying: [link](https://stackoverflow.com/a/1517389/4232362)

Please, use `build/distr` for local testing.

[2018-11-29 15:54] Ingvord commented on #11
@cmft ,

[code]

Should be fixed in db73d5c

[2018-11-30 11:49] Ingvord commented on #11
@cmft ,

After #12 resulting tar must have valid permissions for *configure* and others. *package* is an intermediate step so as before for local testing please use *build*/*distr* or unpack resulting tar.

Thanks for this notes and testing new TangoSourceDistribution build process!

Please feel free to re-open this issue if fixes above does not work for you.

[2018-11-30 11:49] #11 closed, assigned to Ingvord

[2018-12-04 11:13] Ingvord commented on #10
@cmft done in 093f7dc

[2018-12-05 14:45] cmft commented on #11
Hi @Ingvord ,
All the reported issues have been fixed. I found another trouble with the log4tango doc generation using the tar file. The debian package uses this command and it fails.

[code]

[2018-12-05 15:09] Ingvord commented on #11
@cmft , should be fixed in 2a11920

[2018-12-05 15:18] cmft commented on #11
Many thanks @Ingvord ,
All the reported bug have been fixed and i could go beyond but I found more troubles.

-  log4tango/doc makefile fails:
[code]
- DataBaseds is missing

[2018-12-05 15:22] Ingvord commented on #11
@cmft

Isn't it the same that should be fixed in 2a11920 ? Have you updated your git repo?

What do you mean? It should be missing because log4tango is not built. Or it is something different?

[2018-12-05 15:54] cmft commented on #11
Sorry for repeated bug report (i did twice by mistake). I thought I did not report it.

I'm building the debian package and it is looking for it.
You are right, I did manual compilation of the sources and both (9.2.5 and 9.3.2) look like equals. I have to figure out how is generating it in the debian package

[2018-12-05 16:04] Ingvord opened #14 "libtango has wrong version after make install"
Expected version is 9.3.2, but in fact we have 9.2.5:

[code]

Quick investigation has shown this is due to libtool:

[code]

Specifically due to these lines in configure.ac:

[code]

[2018-12-06 13:54] #14 closed, assigned to nobody

[2018-12-10 10:57] cmft commented on #11
From #13 I found what is missing in the Debian rules. It is not a trivial changed.
There is a way to not force `mariadb` ?

[code]

[2019-02-06 13:59] t-b opened #17 "`ant build package` fails due to readthedocs missing PDF"
[code]

[code]

[2019-02-09 13:18] t-b commented on #17
Closed via 8a438ac4d69cb70f9f4a15670de76c71fa2794eb.

[2019-02-09 13:18] #17 closed, assigned to nobody

[2019-04-09 12:37] bourtemb opened #21 "add logback config file and adapt java appli startup scripts"
Since tango 9.2.5a, some changes in JTango implied that now, by default, many debug messages are displayed when using the Tango java applications (jive, astor, ...).

I think we should add a logback default configuration file and update the Tango java applications startup scripts so they use this logback file.

At the ESRF, we have some startup scripts which are passing an option like that when st

[2019-04-09 12:44] bourtemb opened #22 "Use CMake to compile cppTango"
We are still relying on the autotools (and the old configure and automake files) to compile cppTango from the TangoSourceDistribution (when the user wants to compile Tango using the generated source distribution package).
The result is that this is still generating a libtango library as well as a liblog4tango library.
So libtango library generated from the source distribution is not the same as th

[2019-04-09 14:13] bourtemb opened #23 "Remove zmq.hpp from the TangoSourceDistribution"
See https://github.com/tango-controls/cppTango/issues/266 for more details.

[2019-04-16 09:32] mliszcz opened #24 "TangoRestServer status is not updated in astor"
I have configured TangoRestServer to be controlled by Astor. The process is started correctly, nothing suspicious in Starter's or server's logs. Still there's a red dot in Astor:
![obraz](https://user-images.githubusercontent.com/6927259/56197347-efda3180-6038-11e9-8c41-b92dfe597232.png)

Seems that the issue is due to a repeated instance name (`$* $@`):
https://github.com/tango-controls/TangoSour

[2019-04-17 09:50] aureocarneiro opened #25 "Error in jive when I try to monitor a device"
In this current release, at MAX IV, when I click on "monitor device", I have the error below. When I directly start atkpanel I have no problem. This class atkpanel/MainPanel is not contained in jive. Is it a release issue or not?

Exception in thread "AWT-EventQueue-0" java.lang.NoClassDefFoundError: atkpanel/MainPanelException in thread "AWT-EventQueue-0" java.lang.NoClassDefFoundError: atkpanel/

[2019-04-23 09:04] mliszcz commented on #25
Hi @aureocarneiro

Following patch solves the issue for me (the fille is installed to `${PREFIX}/bin/jive` so you can patch that one as well):
[code]

The issue was introduced in b741d3b559a385c39db5cc6724a5a5dc955c4849 where `atkpanel` was renamed to `ATKPanel`, but some files were not aligned:

[code]

[2019-04-23 09:46] Ingvord commented on #24
Fine with me

[2019-04-23 15:20] bourtemb commented on #25
Thanks @aureocarneiro for the bug report.
This has been fixed by @mliszcz in #27 and has been merged in prepare-9.3.3 branch which is the development branch for the 9.3.3 release of the Tango Distribution.
So this fix will be available in 9.3.3 release.

[2019-04-24 09:43] aureocarneiro commented on #25
@bourtemb and @mliszcz , Thank you so much !

[2019-05-09 13:51] mliszcz opened #30 "Remove log4tango"
As discussed on today's kernel meeting, the plan is to change the build process so that:
* all log4tango objects are linked into libtango.so
* liblog4tango.so is removed.

Let's keep #22 for replacing autotools with cmake in future release.

[2019-05-13 07:04] #25 closed, assigned to nobody

[2019-05-15 08:19] mliszcz opened #32 "Compilation broken after #31 (log4tango removal) was merged"
[code]

log4tango dependency must be removed from tango pkg-config:
https://github.com/tango-controls/TangoSourceDistribution/blob/f409a5abc8777cd747ff0301d020706db5628a3c/assets/lib/cpp/tango.pc.in#L6-L10

I'll send a PR.

[2019-05-17 10:16] mliszcz commented on #32
The issue is much more complex than I initially tought.

There are 29 occurences of `llog4tango` across all repositories:
https://github.com/search?p=3&q=org%3Atango-controls+llog4tango&type=Code

And there are 458 occurences of `log4tango`.
https://github.com/search?q=org%3Atango-controls+log4tango&type=Code

For sure we need to fix the first 29 occurences, because these are linker flags.

I'll s

[2019-05-17 16:34] bourtemb opened #34 "cmake opt files missing"
The following files are missing to enable the possibility to generate CMakeLists.txt files from Pogo when generating code for a C++ device server:
- cmake_common_target.opt.in
- cmake_tango.opt.in

These files should be under assets/pogo/preferences

[2019-05-21 14:58] bourtemb commented on #32
The recent merge of liblog4tango and libtango will not have any impact on the majority of these occurrences.

Even in these 29 occurrences, there are some where there is currently not impact on the generated code.
For instance, the cpp_test_ds Makefile is no longer used...
But it's true we could take this opportunity to do some cleanup and remove the Makefiles which are no longer used.

I think we

[2019-05-22 10:50] mliszcz commented on #34
@bourtemb, do you know where those files are stored? I was unable to find them in pogo source tree. Do we need to write them from a scratch?

[2019-05-22 10:59] mliszcz commented on #32
I've already removed logtango:
* from Pogo's cmake templates on windows
* and from Makefiles in source distribution

Is this enough to release the source distribution?  I think we could remove Makefiles from other projects only after we migrate source distribution from autotools to cmake.

[2019-05-22 11:23] bourtemb commented on #34
Yes, we need to write them from scratch. There is no example provided by the POGO repo.
We have an example in use here at the ESRF but we will need to tailor it to fit the needs of the TangoDistribution.
I will propose a PR this week with a first version so we could discuss and get a version to include in the TangoSourceDistribution.

[2019-05-23 15:15] bourtemb commented on #32
It's probably enough indeed for this topic, once we will have merged #33 . There are still a few updates to be done before the release, like getting the latest release versions from each SW component and #36 to be reviewed and merged.

We can do that after migrating to CMake indeed. No emergency here.

[2019-06-05 00:04] #24 closed, assigned to nobody

[2019-06-07 17:28] aureocarneiro opened #38 "Failed to get the inputStream for file resource: pom.properties"
Hey in this latest version, 9.3.3, when I open Astor I receive these logs:

[code]

Is this "Failed to get the inputStream for file resource : pom.properties" normal or is it a bug in my build?

Thanks!

[2019-06-11 10:47] bourtemb commented on #38
Hi @aureocarneiro ,

I can see the same messages as you when I use astor installed from 9.3.3 Tango source distribution on a VM.
@Pascal-Verdier , could you please tell us whether these errors are normal or the sign of something wrong with the source distribution? And could you please guide us on where to look to fix the issue.
When I start astor 7.2.5 from our ESRF installation, I don't see these

[2019-06-12 10:57] Pascal-Verdier commented on #38
This is just a warning trace.
It has been removed in Astor-7.2.6

[2019-06-12 10:58] #38 closed, assigned to nobody

[2019-06-12 11:33] bourtemb opened #40 "Add the source of the documentation"
Hello could you re-add the source of the documentation, in order to be able to re-generate the documention during the build process on the Debain bbuild farm.

thanks

_Originally posted by @picca in https://github.com/tango-controls/TangoSourceDistribution/pull/18#issuecomment-497922380_

[2019-06-12 11:36] bourtemb opened #41 "Provide an DB upgrade script from 9.2.5 to 9.3.3"
Hello,

this is juste that dbconfig-common does an incremental upgrade from on version to the other.
So I just need a script whcih does the migration from 9.2.5 to 9.3.3

DELETE FROM property_class WHERE class='DServer' AND count >= 11;
INSERT INTO property_class VALUES('DServer','AllowedAccessCmd',11,'EventConfirmSubscription',NOW(),NOW(),NULL);

Is it the only change  ?

_Originally posted by @p

[2019-06-19 17:55] mliszcz commented on #40
Hi @picca, @bourtemb. Could you clarify what exactly is needed here?

* Do we need PDF sources (doc/ directory) in TangoSourceDistribution source tree?
* or do we need PDF sources in the actual package (tango-9.3.3-rc1.tar.gz)?
* Shall Ant build the PDF during source package generation?
* or shall the autotools build the PDF during package configuration/installation?

[2019-06-19 18:36] picca commented on #40
Hello,
you can look at the tango 9 source distribution to understand. We need the source of the pdf and the autotools build the pdf from these files via lyx. It is available in the tango9 sources distribution.

please do not make ant mandatory to build the c++ part or the documentation.

[2019-06-19 20:23] mliszcz commented on #40
I've found doc source in debian build repo (Imported Upstream version 9.2.5a+dfsg1): https://salsa.debian.org/science-team/tango/tree/06eac5ac99900e210cbddb6a258b66086b1f45c2/doc.

But I don't see these sources in upstream: https://github.com/tango-controls/TangoSourceDistribution/tree/Tango-Release-9.2.5a/doc.

I assume we'd need to take sources from https://github.com/tango-controls/tango-doc/.

[2019-06-19 20:25] picca commented on #40
Hello, In that case we juste need to adpat the automake rules in order to use sphinx in order to build the doc. :). Addind a new package just for the source is not a good idea most of the time :)

[2019-06-19 20:33] mliszcz commented on #40
So, could you confirm that what you need is to be able to do something like:
1. install sphinx and latex
1. download and extract tango-9.3.3-rc1.tar.gz
1. run `./configure && make pdf && make install-pdf`

Alternatively, the last step could be: `./configure --with-pdf && make && make install` - which one is better?

[2019-06-19 20:42] picca commented on #40
Exactly, but maybe we can switch to the html doc and not the pdf one.
so in that case  make we can just put the doc in the sourcedirectory  and use the sphinx-build script in order to generate the documentation.

In order to facilitate the bootstrap of new architectures, it is important to be able to  build a package with less dependencies. So having a way to not build the doc would be nice.
In th

[2019-06-20 06:25] t-b commented on #40
@picca @mliszcz I'm not a debian package maintainer but a user for a long time.

In debian the sources of the documentation must be available to be able to regenerate the output formats (PDF in this case). So I would say whichever package (tango-9.3.3-rc1.tar.gz or the source distribution) ships the PDF documentation should also ship the source and necessart scripts to regenerate the PDF.

[2019-06-21 08:12] mliszcz commented on #40
Thanks @picca, @t-b.

Indeed it is easier to build the html documentation. You need only Sphinx and IPython.

However I'm not in a position to remove the pdf file from TangoSourceDistribution or to decide whether we shall go with pdf or html.

In that case maybe the best solution is to use sphinx-build in order to build the doc and not to integrate it into the autotools.

I've opened PR #42 with d

[2019-06-26 11:08] bourtemb commented on #40
I think we should simply remove the pdf from the source distribution and provide the html documentation with the rst files instead.

[2019-06-26 11:10] bourtemb commented on #40
Sorry, the previous comment was posted by mistake.
I edited it.

[2019-06-26 11:59] mliszcz commented on #40
Thanks @bourtemb. Let me summarize the changes:
* `ant build package`
  * will no longer pull pdf file into `doc/`
  * will pull tango-doc source tree into `doc/src/`
  * will build 'singlehtml' documentation in `doc/html/`
  * **this is extra dependency on python and sphinx to create the tarball**
  * impacts: `build.xml`
* `configure; make; make install`
  * will copy the docs like: `cp -r doc/h

[2019-06-26 12:05] bourtemb commented on #40
Good summary!
Looks good to me!

[2019-06-26 12:13] picca commented on #40
Doest it means, that I need ant in order to build the documentation ?.

[2019-06-26 12:16] bourtemb commented on #40
@picca, I think you will use the tarball directly in your case.
ant is necessary to build the tarball.
But we will provide the tarball with the documentation already generated (as well as the rst files needed to eventually rebuild the documentation).

[2019-06-27 07:07] picca commented on #40
Yes, I need to rebuild the doc, so it would be nice to hqve q target in the makefile.am in order to build the documentation.

[2019-06-27 07:51] mliszcz commented on #40
@bourtemb, changes are applied in #42. I have rebased the PR on `master`

@picca, you proposed the opposite in one of your previous posts. Can you use `sphinx-build` (or makefile from `doc/src/`) directly to build the documentation?

[2019-06-27 08:16] picca commented on #40
Sorry If I confused, you, I meant that it would be nice to have the same recipe in order to build the documentation (upstream and maintainer).

It seems to me that there is two way to build the documentation, one from ant and another one once you have the sources and which use sphinx-build.

If you do not want to be bothered, let's first build the doc from sphinx-build with no integration in the a

[2019-06-27 08:44] mliszcz commented on #40
@picca, let me clarify a few things:
* html documentation is included in source tarball, so that the user of the tarball does not need python or sphinx to compile tango from source,
* **there is just one way to build the documentation** and it is `sphinx-build`. `sphinx-build` is run by `ant` when the source tarball is being built,
* in your case, the 'upstream' is probably the source tarball, whi

[2019-06-27 08:59] picca commented on #40
I get the points. So for now just tell me how to build the doc and I will tune the Debian packaging in order to re-generate the documentation. Debian makes no difference between documentation sources and code sources. We rebuild everything and provide this guaranty to our users. I think that this is almost the same with the other Distributions.

[2019-06-27 09:18] mliszcz commented on #40
If #42 is merged in it's current state, below steps should work for you:
[code]

[2019-06-27 09:29] picca commented on #40
Ok, for me

[2019-06-27 10:00] mliszcz commented on #40
@picca, just discovered one more thing. The *source* of the documentation has some files which *may* be considered binary/compiled/generated:

* oher PDFs:
https://github.com/tango-controls/tango-doc/blob/master/source/overview/introduction/tango_basics.pdf
* presentations:
https://github.com/tango-controls/tango-doc/blob/master/source/tools-and-extensions/archiving/HDB-plus-plus/hdbcassandra-tang

[2019-06-27 10:08] picca commented on #40
tango_basics.pdf -> sources ?
hdbcassandra-tango-workshop.pptx -> removed ?
Bensikin%20Manual_v1.1.doc -> removed ?
ESRF.odg -> this is the prefered source format for modification ?
theme.css.map -> this file is part of the sphinx_rtd_theme, maybe this could be remove from the doc.

I suppose that you the tango-doc repository can be see has the source for the documentation so in that case having s

[2019-06-27 10:29] mliszcz commented on #40
There is a bunch of pdf files we don't have the sources for, e.g:

[code]

I don't know.

I'm not sure if we should remove anything. How can we decide what is important and what can be removed without any harm / impact on docs quality?

`sphinx_rtd_theme` is needed for html documentation to work, right? If removed, we will lost e.g. some CSS.

@bourtemb what is your opinion? I'd like to avoid tamp

[2019-07-01 07:09] mliszcz commented on #40
Hi @picca and @bourtemb

I'd like to close #42 finally and need your decision how we'd like to proceed.

I've added below action after tango-doc checkout during ant build:

[code]

It works but throws some warnings during doc compilation, e.g.:
[code]

Of course links to excluded resources are broken in generated documentation.

Should I apply this change to the PR?

[2019-07-01 09:31] bourtemb commented on #40
It is clear that we cannot include pdf files within the Debian package without the sources to generate it.
So one solution is indeed to remove them from the package since we don't have anymore the source files to generate some of these pdf files...
Another solution is to provide a link to a package already online instead. I guess this should not be forbidden by the Debian policies?

It looks like

[2019-07-02 08:16] picca commented on #40
Hello, all libreoffice format are allowed if they are the prefered format for modification.
I found at least one package in debian main which contain a docx (lib3mf) so it seems that it works for the [doc|ppt]x familly.
For the doc format, I would say for now no, but I maybe wrong.

Maybe the best would be to migrate to libreoffice format to simplify the maintenance.
Or better to switch all the do

[2019-07-04 06:51] mliszcz commented on #40
Hi all,
I've updated #42 to remove all pdf, doc and class files. docx, pptx and odg are left.

@bourtemb the files from `java_exchanging` directory are used in old Tango documentation hosted at ESRF webpage:
http://www.esrf.eu/computing/cs/tango/tango_doc/kernel_doc/ds_prog/node9.html
[code]
Probably they were never referenced in tango-doc repository

[2019-07-04 07:54] bourtemb commented on #40
@picca, I was wondering, wouldn't it make more sense to have a separate Debian package tango-doc for the documentation and to add it as recommended/suggested package and to simply add a link to the online doc on readthedoc in the README of tango packages?
I think not everybody will be interested in having the doc locally and we've seen the doc can be relatively big since there are several files li

[2019-07-04 08:05] picca commented on #40
To my opinion, it is better to provide the documentation with the software. The doc is part of the software. The release manager should reject PR if the documentation is not updated with the rest of the code. This way the doc is always up to date with the state of the software.

but all this is only my view.

It the tango project consider that documentation should be in it his own repository it is

[2019-07-04 08:28] mliszcz commented on #40
@picca, side question - do you plan to release just one debian package (based on source distribution) with everything included - library, docs, device servers, java apps, etc.?

[2019-07-04 09:00] picca commented on #40
In fact there is two kind of packaes in Debian
* source packages
* binary packages.

I have one source pacakge for tango, whcih generate many binary packages.

look at here
https://tracker.debian.org/pkg/tango

I can not distribut the java part because of an issue with jacorb, but all the rest is ok.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=349540

Cheers

[2019-07-04 09:09] mliszcz commented on #40
Thanks! I was just concerned that there will be one binary package starting from 9.3, but I was wrong.

[2019-07-04 09:31] bourtemb commented on #40
Thanks Frédéric for the explanations and this very useful link.
So there is already a separate libtango-doc package (which is generated from the source package).
Up to now, this package was containing mainly the tango book as pdf (no presentation).
There has been quite some changes since then because the tango-doc github repository has been created and the documentation has been migrated to readth

[2019-07-04 09:46] mliszcz commented on #40
FYI, I've deleted `java_exchange` dir in tango-controls/tango-doc#282

[2019-07-08 08:49] mliszcz commented on #41
Hi @picca,
I need your help to clarify what is needed here.

My questions are:
1. do you need something like existing `update_db8.sql.in`, called e.g. `update_db9.2.5.sql.in`?
2. if yes, then the script shall probably go to TangoDatabase project - @bourtemb could you confirm?

I tried to look into debian package sources to find existing scripts for incremental upgrades, but I couldn't find anythin

[2019-07-08 11:11] bourtemb commented on #41
That would be the best location to do that indeed.

Indeed. No new stored procedure since 9.2.5.

Indeed, but this is coming from latest 9.3.3rc1 source distrib, not from 9.2.5.

Here are the differences between 9.2.5 and 9.3.3:
https://salsa.debian.org/science-team/tango/commit/9f671cf375d9a06240f7f6b73d5f883dc5dbb0c3#2f1bd2e8ec89fb0b71be7fa082f997a5c21266f2

So, EventConfirmSubscription command

[2019-07-08 14:05] mliszcz commented on #41
I have opened a PR in TangoDatabase: https://github.com/tango-controls/TangoDatabase/pull/18

Once that one is merged, we need to create a new tag in TangoDatabase and update source distribution.

@picca I am unable to add you as a reviewer. Please tell whether the solution from above mentioned PR is ok for you.

[2019-07-08 14:08] picca commented on #41
I think that this is ok.

I just remember, (but it is a long time ago, that we have to deal also with the sdtored procedures :).
I do not remmermber exactly how I did, but it seems to me that we decided to remove them completly and regenerate the procedures at each upgrade.

[2019-07-08 14:14] picca commented on #41
Here the target I was using in order to produce the upgrade scripts. before each release of the package.
where VERSION is the version of tango, with the latest 9.2.5
Neverthless I need to change this target for each release. sometimes there is uopgrade scripts and sometimes there is nothing bu the procedures.

So at the end I merged the upgrade scripts and the procedures.

It would be nice if we c

[2019-07-09 06:36] mliszcz commented on #41
Hi @picca,
Thanks for the comment.
I've sourced `stored_proc.sql` from `update_db9.2.5.sql`.
Hope it is ok now and you can use this script directly in debian package.
// EDIT: the PR in TangoDatabase is updated

[2019-07-09 07:23] picca commented on #41
I need only one file this is why I merge the files all together. :). It is easier.
but maybe we can decide to put the stored procedures somewhere on /usr/share/tango/db/stored_procedures/store_x.y.z.sql and source it during the upgrade.
but this way the upgrade script could be generated during the configuretion in order to use the right path  for th e stored_procedure.
the stored procedure should

[2019-07-09 07:36] mliszcz commented on #41
So, we already have a script for Tango 9.2.5 (update_db.9.2.5.sql for stretch) and for Tango 8 (update_db8.sql for jessie).
Is this enough or some more work is needed?

[2019-07-09 07:49] picca commented on #41
I do not thingk so, because I put all these scripts  in the packaging here[1]
As you see now I just need a 9.3.3 file :)

[1] https://sources.debian.org/src/tango/9.2.5a+dfsg1-2/debian/dbconfig-common/data/tango-db/upgrade/mysql/

[2019-07-09 08:01] mliszcz commented on #41
For 9.3.3 you should use `update_db.9.2.5.sql` which is being added to TangoDatabase. Is anything missing?

[2019-07-09 08:28] picca commented on #41
maybe the update script should be named update_db_from.9.2.5.to.9.3.3.sql to be completly explicite :))
this file source the procedure, but I do not know what is the path of the 9.3.3 procedure sql file, when my package is installed.

the best for me is to have only one file  which does eveythings without sourcing external files whcih are not necessarely install where you think they are :).
this i

[2019-07-09 11:26] mliszcz commented on #41
I tried to use existing naming schema which is `update_dbXXX.sql` to upgrade from XXX to latest.
1. I think we would need to rename other files as well for consistency.
2. We'd need to decide what to do on next release - provide a script just for 9.3.3 to 9.x.x upgrade?

On my system (installed from source distribution) it is: /usr/local/share/tango/db/stored_proc.sql

stored_proc.sql is 1100 line

[2019-07-09 11:37] Ingvord commented on #41
+1. In fact this is how it usually done. If someone needs to upgrade from older versions, they apply scripts one by one

[2019-07-09 12:36] bourtemb commented on #41
I think this is the way we should go for the new versions. For each new stable release, provide a new migration script from previous stable release to the new one. But we should keep the older scripts too so a user coming from Tango 8 should be able to update to the previous stable version first, and then apply the latest migration script from the previous version to the latest stable version.

[2019-07-09 12:49] mliszcz commented on #41
Ok, I'll rename the script to `update_db_from_9.2.5_to_9.3.3.sql`.
@Ingvord, @bourtemb do you know if we need to recreate the procedures during migration? Maybe when mysql is upgraded together with tango ...

[2019-07-09 12:52] bourtemb commented on #41
We don't need to recreate the procedures during the migration.
For instance, when migrating from 9.2.5 to 9.3.3, the stored procedures didn't change at all.
The migration is for the use case where the user has already a running Tango DB. So the stored procedures are already there.
When migrating from older tango versions to Tango 9.2.5 or Tango 9.3.3, the stored procedures need to be updated. They

[2019-07-09 13:06] mliszcz commented on #41
@bourtemb please see [`stored_proc.sql.in`](https://github.com/mliszcz/TangoDatabase/blob/master/stored_proc.sql.in) which is sourced from all upgrade scripts. First we drop all the procedures and then create them again. @picca pointed out that there were some problems in the past and re-creating the procedures helped to resolve these issues.

[2019-07-09 13:25] bourtemb commented on #41
Well, it depends on what kind of issues they were encountering in the past...
The thing is that in the past, the stored procedures had changed from one Tango release to another.
From 9.2.5 to 9.3.3, they didn't change.
The stored procedures are saved in a database named mysql, which is a kind of mysql system table.
There might be some issues with this table when upgrading MySQL version at the same

[2019-07-09 14:10] mliszcz commented on #41
Thanks @bourtemb,
@picca I've checked mysql's documentation for in-place binary upgrades.
https://dev.mysql.com/doc/refman/5.7/en/upgrade-binary-package.html
https://dev.mysql.com/doc/refman/8.0/en/upgrade-binary-package.html
https://dev.mysql.com/doc/refman/8.0/en/upgrading-what-is-upgraded.html

Per my understanding, whole mysql schema with all procedures (data dictionary) shall be upgraded auto

[2019-07-09 14:17] picca commented on #41
ok for me.

the last time I had a problem with the ownership of the procedure this is why I had to regenerate them.
only the tango user can access these procedures.

Cheers

[2019-07-09 14:32] bourtemb commented on #41
OK for me too.

[2019-07-10 06:49] mliszcz commented on #41
Changes applied to tango-controls/TangoDatabase#18:
* TangoRestServer added to existing upgrade scripts (entry in `devices` table was not created e.g. when upgrading from Tango 8)
* all `update_dbX.sql.in` renamed to `update_db_from_X_to_9.3.3.sql.in`
* `update_db_from_9.2.5_to_9.3.3.sql.in` added as discussed in this issue

[2019-07-10 07:56] bourtemb commented on #41
In the next versions, we won't update anymore the update_db_from_X_to_9.3.3.sql.in scripts and we will only provide 1 additional new script to update from the previous version to the next version.
A user updating from version X to version Z will have to execute the update_db_from_X_to_9.3.3.sql.in and then all the scripts for the intermediate versions (update_db_from_9.3.3_to_Y.sql.in and update_d

[2019-07-10 08:09] picca commented on #41
+1 :))

[2019-08-05 09:52] mliszcz commented on #40
Hi, @bourtemb @picca, do you have any updates on 9.3.3 final release date (including debian package)? - I assume it is blocked by #40 and #41, for which PRs are ready since a few weeks.

[2019-08-05 11:13] bourtemb commented on #40
Sorry @mliszcz .
I have no date. I need to find some time to review and merge #40 and #41.  I will do that this week.
We need a new release of JTango too because the version we are providing in 9.3.3-rc1 contains an annoying bug (possible deadlock) which seems to have been fixed in jtango-9-lts branch.

[2019-08-05 12:00] mliszcz commented on #40
Thanks @bourtemb!
I was just asking because we're waiting to tag as 9.3.3 things like docs, vm, etc.

CC @piogor

[2019-08-05 15:19] bourtemb commented on #40
@mliszcz
I have created https://github.com/mliszcz/TangoSourceDistribution/pull/1 to update assets/README too which was still referring to tango.pdf file in the DOCUMENTATION section.

[2019-08-05 15:41] bourtemb commented on #34
Fixed by #36

[2019-08-05 15:41] #34 closed, assigned to nobody

[2019-08-05 15:43] bourtemb commented on #32
Fixed by #33

[2019-08-05 15:43] #32 closed, assigned to nobody

[2019-08-05 15:44] bourtemb commented on #30
Fixed by #33

[2019-08-05 15:44] #30 closed, assigned to nobody

[2019-08-05 15:46] bourtemb commented on #23
Fixed by #28

[2019-08-05 15:46] #23 closed, assigned to nobody

[2019-08-05 17:16] bourtemb commented on #9
A potential solution for the original problem of this issue would be to add extra brackets on the following line:
https://github.com/tango-controls/TangoSourceDistribution/blob/7651ca83d7c6412ead17c9cb8db66e86560d8cce/assets/m4/mysql_release.m4#L22
which would be replaced with:
`if [[[ "$MARIA" == *aria* ]]]; then `

It looks like the problem comes from the fact that the external brackets are remo

[2019-08-06 06:15] mliszcz commented on #40
@bourtemb thanks!

[2019-08-06 06:18] mliszcz commented on #41
I have to reopen this one. I used 'resolve' keyword in TangoDatabase PR and this issue was closed accidentally.

Another PR is needed for TangoSourceDistribution to copy the new scripts during installation. I'll work on this.

[2019-08-06 07:14] picca commented on #41
Hello,

where do you want to install them ?
At the end the migration scripts need to be renamed and install in a dedicated Debian specific location. I do not know how other distribution are working on this :).

Cheers

[2019-08-06 07:31] mliszcz commented on #41
Hi @picca
The new script is installed next to the old scripts, in `share/tango/db`. This is the default location when installing from the source tarball. Nothing  debian-specific.

[code]

[2019-08-06 07:34] mliszcz opened #44 "CI builds are failng ('ant' is currently not installed)"
https://travis-ci.org/tango-controls/TangoSourceDistribution/builds/568237797?utm_source=github_status&utm_medium=notification

[code]

Probably ant was removed from travis java environment and shall be installed manually.

[2019-08-06 07:40] picca commented on #41
thanks, in my case, I will generate a migration script called `9.3.3` and put everything in it in order to do the migration from 9.2.5 to 9.3.3. I will take as base  `update_db_from_9.2.5_to_9.3.3.sql`.
I need to replace all the source directive by an embeded copy in orde rto have an autoportant script.

I did this choice, because the stored_proc.sql file is not versionned. So when upgrading from

[2019-08-06 07:50] mliszcz commented on #41
Hi @picca,
I think we will not touch `stored_proc.sql` anymore. If a procedure is updated in the next release (9.x) we will alter it directly from `update_db_from_9.3.3_to_9.x.sql`.

E.g. the upgrade path from Tango 7 will be:
1. `update_db_from_7_to_9.3.3.sql` (which sources `stored_proc.sql`)
2. `update_db_from_9.3.3_to_9.x.sql` (which modifies procedures created by `stored_proc.sql`)

Update:
A

[2019-08-06 08:01] bourtemb commented on #41
@picca, the stored_proc.sql.in file drops all the stored procedures and recreate them, ensuring you always get the latest version of the stored procedures when executing it.
Then, the scripts update_db_from_9.3.3_to_9.x.sql will take care of invoking stored_proc.sql or not if needed.
In your case, you don't need to worry about it. You will just need to invoke the update_db_from_a.b.c_to_x.y.sql sc

[2019-08-06 08:06] bourtemb commented on #41
stored_proc.sql is versioned (in git). I don't understand what is the problem with this file.
In a normal installation. stored_proc.sql provided with the package will always correspond to the stored procedures of the Tango version of the package.

[2019-08-06 08:08] picca commented on #41
ok, thanks all of you, for the clarification :))

Fred

[2019-08-06 08:56] #41 closed, assigned to nobody

[2019-08-06 11:37] bourtemb commented on #44
Fixed in #45

[2019-08-06 11:37] #44 closed, assigned to nobody

[2019-08-06 11:39] bourtemb commented on #40
Fixed by #42

[2019-08-06 11:39] #40 closed, assigned to nobody

[2019-08-06 16:24] bourtemb opened #46 "Remove the default Java logback file?"
Latest JTango release (9.5.15) provides a reasonable default logback configuration which logs to the console with reasonable levels for Tango and JacORB logging, when no logback file is provided.
Shall we revert what was done in commit https://github.com/tango-controls/TangoSourceDistribution/pull/18/commits/834c5b64e6184ea3b0cd0fd6e380661175b82f28 from #18 and remove the default logback file?

[2019-08-06 17:10] Ingvord commented on #46
I would leave it. If someone will use this distribution to develop Tango Java apps it would be more convenient to use explicit file to configure logs

[2019-08-07 09:00] bourtemb commented on #21
Fixed in #29 and #18

[2019-08-07 09:00] #21 closed, assigned to nobody

[2019-08-12 14:01] bourtemb commented on #46
OK, let's leave it like that and close this issue.

[2019-08-12 14:01] #46 closed, assigned to nobody

[2019-08-20 15:17] t-b commented on #9
Closed via #49.

[2019-08-20 15:17] #9 closed, assigned to nobody

[2019-10-05 14:45] picca opened #52 "Can not compile 9.3.3 on Debian"
Hello,

for the record, It does not compile on Debian.

[code]

you can find the full log here

https://salsa.debian.org/science-team/tango/-/jobs/290586

cheers

[2019-10-06 14:30] t-b commented on #52
As discussed privately with @bourtemb the next rc release of the tango source distribtution will include the fix for that issue.

[2019-10-06 14:38] picca commented on #52
Thanks,  do you know when this rc will be planned ?

[2019-10-06 15:06] t-b commented on #52
Around next to weeks.

[2019-11-04 14:33] #52 closed, assigned to t-b

[2019-11-05 22:45] t-b opened #56 "Prepare 9.3.4-rc2"
- [x] https://github.com/tango-controls/cppTango/pull/621
- [x] https://github.com/tango-controls/starter/pull/7
- [x] https://github.com/tango-controls/TangoDatabase/pull/20
- [x] https://github.com/tango-controls/TangoSourceDistribution/pull/55
- [x] Create new releases for TangoDatabase/cppTango
- [x] Create new release for starter (needs mighty user)
- [x] Update distribution.properties
- [x]

[2019-11-10 13:12] picca commented on #56
Hello, I am still preparing the Debian package :)

I have these errors  via lintian

E: tango source: source-is-missing doc/html/_static/astor_new_server_wizard.swf

do you have the source of this swf file ?

E: tango source: source-is-missing doc/html/_static/jquery.js line length is 32033 characters (>512)
E: tango source: source-is-missing doc/html/_static/underscore.js line length is 519 chara

[2019-11-12 09:54] bourtemb commented on #56
Thanks!

This is a very old file. It seems it was some kind of video showing the wizard in action.
We don't have the sources and it even doesn't seem to work anymore:
https://tango-controls.readthedocs.io/en/latest/tools-and-extensions/built-in/astor/new_server_wizard.html

This should be removed, or better, replaced with something else (series of pictures? Animated image?)...
@piogor, could you p

[2019-11-12 10:05] picca commented on #56
so maybe avoid building the documentation would be simpler.
I had to patch the build system in order to avoid installation of the docuymentation via
make install

On Debian we have profile for building (it simplify bootstrapping of new architectures).
https://wiki.debian.org/BuildProfileSpec

So I use the <!nodoc> in order to tag the Build Dependency.

there is two kind of binary package.

archite

[2019-11-12 13:50] t-b commented on #56
@picca @bourtemb How about we do fix theses after the merging #55 and releasing rc2?

[2019-11-12 14:09] picca commented on #56
no problem for me, less issues, is always better :))

[2019-11-13 13:19] t-b commented on #56
@picca Next rc is out.

[2019-11-13 13:19] #56 closed, assigned to t-b

[2019-11-13 13:27] t-b commented on #56
@picca @bourtemb If possible I would favour having separate issues for tackling debian packaging requirements. Comments in an issue are quickly lost.

Regrading the too long lines, minified javascript files have these very often.

I would be in favour of keeping the documentation in the source package here as it is convenient for users.

[2019-11-13 21:10] picca opened #57 "9.3.4 Debian packaging lintian ouput"
hello

here the messages for the 9.3.4~rc2

the error to fixed are the one with a E in front of the line.
I let the other line because , there is a bunch of spelling errors ;) etc.
I will fill another issues about the systemd files.

So for the errors:
 - astor_new_server_wizard.swf should be removed
 - the minified files  can be removed during the Debian repackaging, but I think that it could be

[2019-11-13 21:16] picca opened #58 "systemd unit for tango"
Hello, it would be nice to have systemd files for tango-db, tango-starter, and tango-accesscontrol.

[2019-11-13 21:18] t-b commented on #57
@picca Thx. That looks better already.

[2019-11-13 21:22] picca commented on #57
Yes a lot.

We just need to fix these errors and I think that I will be able to upload something into experimental, just in order to check that it builds on all architectures.
someone will need to check that the package works out of the box.

[2019-11-13 22:38] t-b commented on #57
Some comments I made earlier at https://github.com/tango-controls/cppTango/issues/594#issuecomment-550056311 still apply.

Regarding our sphinx documentation: How does other packages solve that? I don't think we are the only ones which have documentation based on sphinx and want to have the HTML files locally available.

[2019-11-14 06:02] picca commented on #57
Hello,

I removed the _theme directory and Added a build depedency to python3-sphinx-rtd-theme, and now it solved all the sphinx issues observed previously.
look at here. (except the privacy breach).

https://salsa.debian.org/science-team/tango/-/jobs/412369

[2019-11-14 12:54] t-b commented on #57
@picca Good! I don't see any `E:` anymore so we are good to go?

[2019-11-14 13:25] picca commented on #57
I can upload to experimental if you want :)). but I can not do this until this week-end.

[2019-11-14 14:19] t-b commented on #57
@bourtemb @picca I'm not the one making the calls here, but as far as I'm concerned go for it.

[2019-11-14 14:22] picca commented on #57
I will uploa dinto experimental this rc2 and you need to find someone in order to test the unstasble -> experimental migration, and do a bunch of tests with this version of tango.
we need also to check that the current python binding works with this version of taango.

cheers

Frederic

[2019-11-15 14:13] t-b opened #59 "Upgrade tools like pogo to latest versions"
- [x] JTango as well

[2019-11-15 14:16] t-b commented on #58
@sergirubio Has some systemd unit files from the debian packages they are building.

[2019-11-15 14:53] sergirubio commented on #58
Hi,

I forward the answer from Carlos Falcon (cfalcon@cells.es)

     "We use and contribute to the official debian scripts (init.d) I
show in the tango doc examples of systemd scripts created by Igors"

On 11/15/19 3:16 PM, Thomas Braun wrote:

[2019-11-21 11:33] t-b commented on #57
@picca Please ping me once the packages are uploaded into experimental.

[2019-11-23 12:05] picca commented on #57
uploaded into Debian experimental, and building
cheers

________________________________________
De : Thomas Braun [notifications@github.com]
Envoyé : jeudi 21 novembre 2019 12:33
À : tango-controls/TangoSourceDistribution
Cc : PICCA Frederic-Emmanuel; Mention
Objet : Re: [tango-controls/TangoSourceDistribution] 9.3.4 Debian packaging lintian ouput (#57)

@picca<https://github.com/picca> Please pi

[2019-12-23 07:46] dmiego opened #61 "DataBaseds crashes"
Hello again.

I've noticed that my TangoDB proccess crashes after some time, about 5+ hours.

Debian 9.11, Tango 9.3.4-rc2, omniORB 4.2.3, two different VMs

Here are last lines of output for `/usr/local/bin/DataBaseds 2 -ORBendPoint giop:tcp::10000 -v5` after launching Jive:

1577082037 [139768244410112] DEBUG dserver/DataBaseds/2 DeviceImpl::name arrived
1577082037 [139768244410112] DEBUG dserve

[2020-01-06 13:50] #59 closed, assigned to t-b

[2020-01-06 14:06] bourtemb commented on #61
Hi @Diego91RA , the "debugger aborting error" might be a bug in the mariaDB version you are using?:

https://jira.mariadb.org/browse/MDEV-8316
https://jira.mariadb.org/browse/MDEV-12276

What MariaDB version are you using?

[2020-01-06 14:25] dmiego commented on #61
Hi.
I'm using version 10.1.41 installed from official Debian repo, not the latest patch for this minor version, but was released last summer.
The bug report you've mentioned says the problem was fixed in 10.1.23 in 2017.

On another VM MariaDB was built from sources one year ago, version 10.3.12, but Tango is 9.2.5a, and I don't have such problem.
I'll try to build and test it later this week.

Th

[2020-01-08 14:56] dmiego commented on #61
I've updated MariaDB to 10.4.11 from official repos https://downloads.mariadb.org/mariadb/repositories/

And still have exactly the same error :(

[2020-01-08 14:57] bourtemb commented on #61
Do you have a core file?
Can you please share the backtrace?

[2020-01-09 06:28] dmiego commented on #61
Here is gdb backtrace
[code]

[2020-01-09 09:42] bourtemb commented on #61
Thank you very much for the backtrace.
The problem seems to come from libmariadb library or on the way the OS is configured.
I found this recent bug reported on Gentoo: https://bugs.gentoo.org/701710
So other people have been seeing the same error recently.
Do you have a VM you could share to reproduce easily the problem?

[2020-01-09 11:30] Diego91RA commented on #61
You can try to reproduce it on the VM I've shared in hdbpp-cm issue
https://github.com/tango-controls-hdbpp/hdbpp-cm/issues/6#issuecomment-554983971

It has MariaDB 10.1.41, but we've figured out that it doesn't really matter.

[2020-01-09 11:52] dmiego commented on #61
Oops, VM I've shared before was with Debian 10.

Here is for Debian 9 https://yadi.sk/d/E4zF1XHcZ9VAlw
MariaDB 10.1.41

[2020-01-09 13:58] t-b opened #62 "configure test for java fails"
Using 9.3.4-rc2 and doing `./configure` I get with openjdk-10 selected

[code]

and that is probably because the java versioning scheme changed as I get on debian unstable

[code]

and the code at https://github.com/tango-controls/TangoSourceDistribution/blob/42395946cd60e36d5a4ffa7b161e3747c497fb78/assets/m4/java_release.m4#L9-L30 now thinks that the minor version is 0.

Java 1.8 still used the o

[2020-01-09 15:21] t-b opened #63 "Update cppTango to latest 9.3-backports on next rc"

[2020-01-10 14:29] bourtemb commented on #61
You wrote the problem is occurring after about 5+ hours.
@Diego91RA Do you do anything special during these 5 hours or is the system rather idle?
Does the DataBaseds receive many commands?

[2020-01-10 14:31] dmiego commented on #61
No, just executed `/usr/local/bin/DataBaseds 2 -ORBendPoint giop:tcp::10000 -v5` and run jive from time to time to check if process crash after I run it.

[2020-01-10 14:54] bourtemb commented on #61
I had a look at the logs in /var/log/mysql in the VM you provided and I saw some messages like the following:

[code]

This seems to indicate that the MariaDB server detected a crash yesterday before you sent the VM.
I now get some error messages like this one in the latest /var/log/mysql logs:

[code]

[2020-01-10 15:53] bourtemb commented on #61
How much RAM and CPUs did you allocate for your VM?

[2020-01-10 18:49] t-b opened #67 "Feedback testing debian packages: 9.3.4-rcx"
Notes: All java programs were used from the current source distribution from [here](https://github.com/tango-controls/TangoSourceDistribution/releases/tag/9.3.4-rc2).

Result:

- Package upgrade worked to `9.3.4~rc2+dfsg2-1~exp3` from the current unstable package

[code]
- Jive worked with TangoTest and some of my tango device servers
- Astor worked but showed heartbeat error, see [here](https://g

[2020-01-11 08:57] picca commented on #67
Hello, thanks for this test

Can you be more specific, because you explain that the upgrade of the database does not work ?

I did not yet packages the java part. so whcih one are you using ?

idem

idem

I do not understant this last sentance. I packaged the 9.3.4-rc2 so it should work.
Is it possible to see the error message

This is normal https://wiki.debian.org/DebugPackage
now the debug symb

[2020-01-11 11:37] mliszcz commented on #67
Hi, just one question:

What is the motivation behind putting executable applications inside lib? From end-user perspective, I find this quite surprising (I expect apps to be installed to bin, which is usually on system search path).

[2020-01-11 13:20] picca commented on #67
Hello, Debian maintainer speaking here, I decided to put all devices servers under /usr/lib/tango in order to avoid polluting the PATH with devices which should be managed by the starter device.
A bit like all the git command line, where only the git command is in the PATH.

For tango_admin, I agreed that it could be in /usr/bin instead of /ust/lib/tango.

cheers

Fred

[2020-01-13 12:21] bourtemb commented on #61
Hi,
I managed to reproduce the DataBaseds crash with your VM. Thanks!
And I even managed to reproduce it much faster and reliably.
I edited mysql configuration and added the following lines in /etc/mysql/mariadb.conf.d under `[mysqld]` section :

[code]

I then restarted the mysql (mariadb) daemon and the DataBaseds.
I got the crash after 5 minutes only (no query to the DataBaseds during at least

[2020-01-13 12:42] dmiego commented on #61
Hello.
So the problem is not in the VM resources. Just in case - for the VirtualBox I have 2 CPU and 4 GB RAM, for Proxmox VM on our cluster - 4 CPU and 8 GB RAM.

I see lines in the console output for DatabaseDS during the idle:

1578914714 [140634025568000] DEBUG dserver/DataBaseds/2 SubDevDiag::store_sub_devices() entering ...
1578914714 [140634025568000] DEBUG dserver/DataBaseds/2 Sub device p

[2020-01-13 12:45] bourtemb commented on #61
This line indicates that it does store data only **if needed**. I think when nothing happens as in your use case, there is no new sub device to register, so no query to the DB.

[2020-01-13 13:11] dmiego commented on #61
Ok.
So what can I do to get around this problem - set timeout values to maximum 31536000, which is 365 days, and wait for someone eventually edit something in the TangoDB?
Or create daemon that will edit some property, e.g. write timestamp, so it will be stored in the MySQL like keep-alive package?

Btw, is it bug or feature?
Because usually I did nothing with default MySQL/MariaDB configuration a

[2020-01-13 13:16] bourtemb commented on #61
Having a Starter running and a TangoTest started once on your host and stopped should be enough.
The Starter will try to reconnect regularly to TangoTest and will query the DB.
This is probably why nobody ever complained about that issue.

I have the feeling it is a bug in libmariadbclient library.
I need more time to investigate a bit deeper.

[2020-01-13 16:04] bourtemb commented on #61
I confirm this bug is a libmariadb2 bug.
I downloaded mariadb-connector-c-2.3.7 (latest libmariadb2 version I could find) and compiled it in debug mode.

I reproduced the crash and I got the following backtrace with gdb:
[code]

I then searched on the web for libmariadb bugs related to `mysql_reconnect ` method and I found this interesting bug reported on Debian:
https://bugs.debian.org/cgi-bin/bu

[2020-01-13 16:51] t-b commented on #61
I did not had any issue on debian unstable with libmariadb3 1:10.3.21-2 (https://packages.debian.org/sid/libmariadb3) and I had the VM instance running for three days with little interaction.

[2020-01-13 16:52] bourtemb commented on #61
According to the libmariadb upstream author, the problem is not present in libmariadb3

[2020-01-13 18:44] t-b commented on #61
@bourtemb Should we add a configure check for compatible libmardiadb versions?

[2020-01-14 09:09] dmiego commented on #61
Debian 9 has only libmariadb2 in the official repo by default.
You have to add MariaDB repos or change yours to "sid" for libmariadb3. I've found it on another VM with updated version https://github.com/tango-controls/TangoSourceDistribution/issues/61#issuecomment-572106149 along with libmariadb2 from apt installation.
DatabaseDS was compiled with libmariadb2, so update didn't change anything and

[2020-01-14 10:10] bourtemb commented on #61
I did a test with libmariadbclient18 and it seems like the problem is not present in this version.
I realized this is actually the version we are currently using on our Debian 9 systems.

The problem will not be present in libmariadb3 because all these debug macros which were causing this kind of crashes were removed.
So it could be good to add a check and display an advice or warning if libmariad

[2020-01-14 11:05] dmiego commented on #61
Well, DS is working fine now for 2+ hours, even with wait_timeout and interactive_timeout set to 60 seconds.

Thanks for your help.

[2020-01-14 11:09] t-b commented on #61
@bourtemb Will do.

[2020-01-14 11:09] t-b opened #68 "Check libmariadb version and warn on buggy version"
- [x] Add warning and version in summary

So it could be good to add a check and display an advice or warning if libmariadb2 is detected indeed.

_Originally posted by @bourtemb in https://github.com/tango-controls/TangoSourceDistribution/issues/61#issuecomment-574100241_

[2020-01-14 13:55] #62 closed, assigned to t-b

[2020-01-21 20:22] t-b commented on #67
@picca I've updated my post and did some more testing.

Regarding the java part of tango. AFAIU there is a licensing issue right? Would we be able to create non-free packages?

[2020-01-21 20:28] picca commented on #67
thanks for the bug report :).

I will try to find some time in order to check your post.

I usually do this, but this time I thnk that there is an issue with java-11 and the removal of CORBA from the jdk...

This should be fixed in the .jar provided in the tango source.

Cheers

Fred

[2020-01-21 20:29] t-b commented on #67
@picca The java packages as they are depend on java-8.

[2020-01-21 20:33] picca commented on #67
And this is the problem. On Debian Buster (aka 10), there is only java-11.

[2020-01-21 22:04] t-b commented on #68
- [x] https://stackoverflow.com/a/55127962

[2020-01-23 14:11] t-b opened #70 "Update pogo on next rc release"

[2020-03-09 09:11] #61 closed, assigned to nobody

[2020-03-09 09:11] #68 closed, assigned to t-b

[2020-03-18 09:25] bourtemb commented on #58
Hi @sergirubio and @cmft , any update on this topic?

[2020-04-09 14:22] t-b opened #72 "Fix travis CI"
Does currently fail, see https://travis-ci.org/github/tango-controls/TangoSourceDistribution.

The reason is

[code]

Fix that by:
- [ ] Installing sphinx_rtd_theme
- [ ] Install pip packages with a fixed version so that we are not suprised again by new versions and breaking changes

[2020-04-09 14:47] mliszcz commented on #72
One comment - I think that the problem is due to pulling master code into 9.3.4 branch of tango-doc here: https://github.com/tango-controls/tango-doc/commit/8b47a555ec6d3eb0701554d5c80f97befb17af27. And tango-doc master since January requires sphinx_rtd_theme: https://github.com/tango-controls/tango-doc/commit/c409572d866de55bfc8d959d991ac2ee0f47f468

When I added documentation tree to the source

[2020-04-20 12:10] t-b opened #73 "Ensure we have a working sed"
The one from MacOSX does not work, see https://www.tango-controls.org/community/forum/post/4294/.

[2020-04-23 11:40] #72 closed, assigned to t-b

[2020-05-01 19:53] t-b opened #77 "Release 9.3.4-rc5"
- [x] Raise version JTango, see https://github.com/tango-controls/JTango/issues/101
- [x] cppTango 9.3.4-rc5
- [x] https://github.com/tango-controls/TangoSourceDistribution/issues/73
- [x] https://github.com/tango-controls/TangoDatabase/issues/21
- [x] Tag new TangoDatabase and include

[2020-05-01 19:54] #63 closed, assigned to t-b

[2020-05-01 19:54] #70 closed, assigned to t-b

[2020-05-01 19:59] t-b commented on #57
@picca There is a new version out, see https://github.com/tango-controls/TangoSourceDistribution/releases/tag/9.3.4-rc4.

I'm closing this now.

[2020-05-01 19:59] #57 closed, assigned to nobody

[2020-05-01 20:00] t-b commented on #67
@picca A new version is out, see https://github.com/tango-controls/TangoSourceDistribution/releases/tag/9.3.4-rc4.

[2020-05-12 12:06] picca commented on #67
uploaded https://tracker.debian.org/news/1140670/accepted-tango-934rc4dfsg1-1exp1-source-into-experimental/

[2020-05-13 08:27] cpascual commented on #77
Hi, any ETA on this?
We would love to be able to build a package and docker images based on this to check if it fixes [our issues in CI](https://github.com/taurus-org/taurus/issues/1042) that we suspect are caused by tango-controls/cppTango#699

[2020-05-13 08:40] t-b commented on #77
@cpascual We don't have an ETA yet. But I created a PR with the current state. You can use that to build a tango source distribution locally. Does that help?

[2020-05-13 17:23] cpascual commented on #77
Yes, I will try using #79 to build locally. Thanks for the suggestion!

note: maybe it would be helpful if travis would be configured to keep artifacts for PRs such as this one (not deploying to release, but just keep the built tar.gz as an artifact in the build)

[2020-05-13 17:26] t-b commented on #77
travis has no support for storing the artifacts itself.

[2020-05-13 17:30] cpascual commented on #77
Oh, I see... of course you are right! (I've been working with gitlab-ci lately and I got confused! )  ;-)

[2020-06-07 14:31] #73 closed, assigned to t-b

[2020-06-07 14:48] #77 closed, assigned to t-b

[2020-06-11 13:49] t-b opened #83 "9.3.4-rc7: New release candidate"
- [x] Update Pogo (Pogo-Release-9.6.31)
- [x] Update JTango (9.6.1)
- [x] Update cppTango and tag it
- [x] https://github.com/tango-controls/TangoDatabase/pull/24, raise version, tag it

[2020-08-04 07:48] dmiego opened #84 ""tango start" doesn't work for new MariaDB versions"
I've noticed that on MariaDB 10.4+ there is no proccess called "mysqld". So simple "tango start" command doesn't work as it supposed to.

![image](https://user-images.githubusercontent.com/13482645/89267501-fdf1fe00-d63f-11ea-825b-c3a7b05f63ef.png)
![image](https://user-images.githubusercontent.com/13482645/89266813-101f6c80-d63f-11ea-9515-e2c26ee9929c.png)

[2020-08-04 08:47] mliszcz commented on #84
Maybe we could remove the check for `mysqld` process presence, because it does not do anything useful except printing a message. And a message will be printed anyway by DataBaseds when it cannot connect to database (reason = CANNOT_CONNECT_MYSQL).

Checking for specific process name is not reliable as it can easily be broken by creating a symlink to mysqld/mariadbd.

[2020-08-04 09:32] t-b commented on #84
I'll handle that.

[2020-08-13 13:36] #84 closed, assigned to t-b

[2020-08-13 19:07] t-b commented on #67
@picca
I did some more testing with rc6:

- [x] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=949549 is not yet fixed. I'm seeing the lintian error still in https://salsa.debian.org/science-team/tango/-/jobs/808832 and also hardening-check returns the same.
- [ ] The database is not upgraded on package upgrade from 9.2.5 to 9.3.4.

I'm seeing

[code]

which looks related when doing

[code]

I'

[2020-08-14 08:24] t-b commented on #58
Now I'm understanding the comment of @cmft.

There is an example in https://tango-controls.readthedocs.io/en/latest/tutorials-and-howtos/how-tos/how-to-integrate-with-systemd.html?highlight=systemd with same bare bones version of systemd files.

@picca Is that a good enough starting point for you? One thing missing from these is parsing `/etc/tangorc` for TANGO_HOST.

[2020-08-14 08:51] mliszcz commented on #58
Why do you want to parse the tangorc in the first place? The client does the parsing if environment variable is not set. See: https://github.com/tango-controls/cppTango/blob/81286b2eab1ec27686f9428f3efa03681f5a3164/cppapi/client/dbapi_base.cpp#L69

[2020-08-14 10:42] t-b commented on #58
@mliszcz Because that is what the current init.d starting scripts in debian do. The database server needs to know at what address it should listen.

[2020-08-24 09:36] picca commented on #67
Hello

here the dbconfig-common bug report about this Permission Denied

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=965219

I am also investigating about the hardening. It seems that the [X]FLAGS are not propagated into the Makefile.am.
It seems that it works for log4tango but not for all the tango sources.
I saw in some Makefile.am, some of these fortification harcoded. It seems to me that

[2020-08-24 09:43] picca commented on #67
here the relevant part of the build

[code]

so it seems that some of the hardening flags are used

[2020-08-24 09:50] picca commented on #67
Here the official flags

[code]

[2020-08-24 10:00] picca commented on #67
here the output of hardening-check for the database and the TangoAcessControl
[code]

[2020-08-24 11:34] picca commented on #67
Re-hello,

I find this in the code of the device.

[code]

Is the Debian specifique code still relevant ?

I do not like the idea to add some random crap in a Device in order to silent a check which can also trigger faulse positiv.

cheers

[2020-08-24 11:54] picca commented on #67
Once removed I have this.

[code]

no more gethostname in the list of unprotected functions

[2020-08-24 12:31] picca commented on #58
I do not know a lot about systemd, but it is possible to set a bunch of environment variable before starting a process.
A nice feature would be also to instrument the code in order to add the systemd notify. this way we will have a more reliable service.

another solution would be to use a wrapper in order to start the process.

Maybe it is now enought to se the right /etc/tangorc and let the Data

[2020-08-27 17:55] t-b commented on #67
@picca

Me too, I've opened https://github.com/tango-controls/TangoAccessControl/pull/4 to remove that.

Regarding the hardening flags, looks like a false positive indeed. I did some more digging and all the flags are passed correctly. Yes the build system is indeed rather ancient. This is planned to get better once we've switched to cmake for everything.

Thanks for digging that up. I can confirm

[2020-08-28 08:26] #83 closed, assigned to nobody

[2020-08-28 16:33] t-b opened #87 "Final release 9.3.4"
- [x] New TangoAccessControl, tag it before
- [ ] Check if cppTango 9.3-backports branch got changes
- [x] TangoTest new release, https://github.com/tango-controls/TangoTest/releases/tag/3.0
- [x] New JTango (9.6.7) solving tango-controls/JTango#90
- [x] Update jive to 7.25

[2020-09-01 13:54] t-b commented on #67
@picca I've created rc7. Would be nice to have new debian packages with the database permission issue fixed. Thanks.

[2020-09-02 09:40] picca commented on #67
I can upload the new package but, I would like to solve the problem at the dbconfig level.

Is it possible for you to provide the full log of the upgrade issue.
This way I will be able to discuss with the dbconfig upstream.
the best would be to add this log informations into the dbconfig-common bug report

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=965219

cheers

Fred

[2020-09-02 13:56] t-b commented on #67
@picca Will do. I'll ping you when it's done. Is a simple shell copy and paste enough or should I enable some special debug mode?

[2020-09-02 14:03] picca commented on #67
I just uploaded rc7 into Debian experimental, but there is no fix for the upgrade. We will try to deal with this before the final release.

Do you know if the java part works out of the box with openjdk11 ?

[2020-09-02 16:09] t-b commented on #67
We still require java 8 for the java part.

[2020-09-10 10:59] t-b commented on #67
This way I will be able to discuss with the dbconfig upstream.
the best would be to add this log informations into the dbconfig-common bug report

Done.

[2020-09-10 11:28] picca commented on #67
Thanks
________________________________________
De : Thomas Braun [notifications@github.com]
Envoyé : jeudi 10 septembre 2020 12:59
À : tango-controls/TangoSourceDistribution
Cc : PICCA Frederic-Emmanuel; Mention
Objet : Re: [tango-controls/TangoSourceDistribution] Feedback testing debian packages: 9.3.4-rcx (#67)

Is it possible for you to provide the full log of the upgrade issue.
This way I wil

[2020-09-16 12:32] lorenzopivetta opened #88 "zlib >= 1"
configure requires zlib >= 1. Not sure when this has been introduced, but prevents to build on PPC legacy platforms (zlib 0.9)

[2020-09-16 13:11] t-b commented on #88
Can you post the configure log file?
Can you not update zlib? According to https://www.zlib.net/ChangeLog.txt 1.0.1 came out in May 1996.

@bourtemb The only thing which needs zlib in cppTango is the server-side jpeg support. Maybe we can allow to not build that?

[2020-09-16 13:19] t-b commented on #88
@lorenzopivetta IIRC you are running debian on that? Which version?

[2020-09-16 13:27] lorenzopivetta commented on #88
Running Ubuntu 7.10 on PPC. Passing --disable-jpegmmx to configure does not make it work, see the last output line form:

../configure --prefix=/usr/local/tango-9.3.4-rc7 -with-omni=/usr/local/omniorb-4.2.3 --with-zmq=/usr/local/zeromq-4.0.8 --disable-static --disable-dbcreate --disable-dbserver --disable-jpegmmx

...
checking dynamic linker characteristics... (cached) GNU/Linux ld.so
checking how

[2020-09-16 13:29] t-b commented on #88
Thx. So the bug is actually that we still look for zlib even when the jpeg support is disabled.

[2020-09-16 13:30] lorenzopivetta commented on #88
Mmmhhh, not sure, I think the option disables mmx support for jpeg, not jpeg support itself

[2020-09-16 13:40] t-b commented on #88
Yes, you are right. Would allowing to disable jpeg support work for you?

[2020-09-16 13:48] t-b commented on #88
@lorenzopivetta Have you tried setting `ZLIB_CFLAGS` and `ZLIB_LIBS` as indicated in the error message?

[2020-09-16 13:51] lorenzopivetta commented on #88
No, should not be required... since the package is installed. The problem is it's release 0.9

[2020-09-16 14:10] bourtemb commented on #88
@lorenzopivetta , did you try to run configure with `--without-zlib` option as suggested by the README?

https://github.com/tango-controls/TangoSourceDistribution/blob/ff33b5af6ac69bc5c68f7c4817845535be52d270/assets/README#L300-L301

[2020-09-16 14:15] bourtemb commented on #88
It looks like zlib might be needed to compile the database server.
I guess you don't need to compile the Database Server in your case?
So you could also try to run configure with  `--disable-dbserver` option too? Maybe this is also removing the dependency to zlib?

[2020-09-16 14:25] lorenzopivetta commented on #88
Just tried with --without-zlib, with no luck. Still looking for it. Moreover I'm already disabling lots of builds:

../configure --prefix=/usr/local/tango-9.3.4-rc7 -with-omni=/usr/local/omniorb-4.2.3 --with-zmq=/usr/local/zeromq-4.0.8 --disablestatic --disable-dbcreate --disable-dbserver --disable-jpegmmx --without-zlib

[2020-09-16 14:28] bourtemb commented on #88
Did you do that from a clean build directory?
I don't know how the autotools are working but maybe there is some cache involved?

[2020-09-16 14:29] lorenzopivetta commented on #88
Yes, freshly made "build" dir

[2020-09-16 14:38] t-b commented on #88
My patch in https://github.com/tango-controls/TangoSourceDistribution/commit/ba2e581a35213f48162a488b24094b360b09916c lost the --without-zlib option. I'll prepare a patch.

@lorenzopivetta Can you remove the line `PKG_CHECK_MODULES([ZLIB], [zlib >= 1])`, execute `./bootstrap` and try again?

[2020-09-17 09:18] lorenzopivetta commented on #88
Hi @t-b unfortunately there's no bootstrap in the main folder in the tarball, I'm picking the one in TangoSourceDistribution repository. On the target it fails at the first aclocal command, I think the system is too old. Made the bootstrap steps on a different host, and now the configure command succeeds on PPC.
Building the tango lib now, it will take some time.

[2020-09-17 13:05] lorenzopivetta commented on #88
At a very preliminary test 9.3.4-rc7 is working on PPC, Ubuntu 7.10, kernel 2.6.25

[2020-09-24 11:23] bourtemb commented on #87
The following software parts got new releases recently:
- jtango: 9.6.1 -> 9.6.6
- jive: 7.23 -> 7.25
- atk: 9.3.14 -> 9.3.19
- atk-panel: 5.8 -> 5.9
- astor: 7.2.10 -> 7.3.5  (@Pascal-Verdier , can we upgrade the version provided with the Tango Source Distribution to 7.3.5 ? (java 8 support mandatory))
- log-viewer: 2.05 -> 2.10
- rest-server: 1.22 -> 2.1  (**!!Old API no longer supported in this

[2020-09-24 11:26] Ingvord commented on #87
@bourtemb,

I would leave the old version for now. Thanks!

[2020-09-24 12:14] t-b commented on #87
@bourtemb rc7 or the final release?

[2020-09-24 12:20] bourtemb commented on #87
@t-b, do you mean rc8?
Let's discuss that during the Kernel Meeting.
If there is no big issue identified, I would go for the final release.

@Pascal-Verdier confirmed to me that we can provide the latest astor release, which is still java 8 friendly.

[2020-09-24 12:21] t-b commented on #87
Yes I meant rc8.

[2020-09-28 17:30] #88 closed, assigned to nobody

[2020-09-28 17:31] #87 closed, assigned to nobody

[2020-09-29 11:33] t-b commented on #67
Closing as we now a final 9.3.4 release, see I've updated the release notes for the TDS, see https://github.com/tango-controls/TangoSourceDistribution/releases/tag/9.3.4.

[2020-10-08 11:10] lorenzopivetta opened #91 "Ubuntu 18.04.5 LTS i686 build"
Hi,
just trying to build tango-9.3.4-rc7 on an Ubuntu 18.04.5 i686 (yes, that's a 32 bit system...). The library builds, but then the build fails when building utils (e.g. cannot compile an executable using libtango):

...
Making all in utils
make[2]: Entering directory '/usr/local/src-compiled/packages/tango-9.3.4-rc7/build/utils'
Making all in tango_admin
make[3]: Entering directory '/usr/local/

[2020-10-08 11:56] t-b commented on #91
No immediate ideas, I'll try to reproduce.

[2020-10-18 18:55] t-b commented on #91
I can replicate that with debian 8  jessie 32bit.

[2020-10-18 21:48] t-b commented on #91
@lorenzopivetta A fix is available in https://github.com/tango-controls/cppTango/pull/783.

You can grab that fix also locally via

[code]

Another fix is to disable jpeg mmx.

[2020-10-19 08:29] lorenzopivetta commented on #91
Thanks @t-b , just built 9.3.4 and a tango device for test.

[2020-10-21 16:47] t-b commented on #67
@picca I did some more debian package testing as requested.

- [ ] Database upgrade issue

Installation of new packages without old packages:

[code]

results in the correct database being installed.

Installation of new packages with old packages present:

[code]

results in the database not being upgraded. The dbconfig-common error is gone though.

I'm using

[code]

to check the database. This

[2020-11-12 15:54] t-b opened #92 "Planned 9.3.5 release"
- [ ] Tag cppTango `9.3-backports` branch with 9.3.5
- [ ] Tag TangoTest and include new version
- [ ] Check other project for updates as well
- [ ] Ensure it has a fix for #91.
- [ ] Release

[2020-12-10 13:14] t-b commented on #58
https://tango-controls.readthedocs.io/en/latest/tutorials-and-howtos/how-tos/how-to-try-tango/tango-db-service.html has an example using `EnvironmentFile=`, see also https://www.freedesktop.org/software/systemd/man/systemd.exec.html#EnvironmentFile=. This directive is able to read our `/etc/tangorc`.

[2020-12-17 09:34] beenje opened #96 "Integration with tango.spec rpm"
Hello,
MAX IV has an action to integrate the spec rpms in the TangoSourceDistribution repository.
After some tests, I think it might be easier to keep a separate repository with the spec file. I created the following repo that uses the archive produced by the TangoSourceDistribution repo: https://github.com/MaxIV-KitsControls/tango-spec (repo should be moved to tango-controls group if we move forw

[2020-12-18 15:59] bourtemb opened #97 "Gitlab Migration: Please log into GL with your GH account ASAP"
Dear TangoSourceDistribution participant (via commits, comments on issue or pull requests, issue creator),

If you have contributed in any way (commit, issue or Pull Request creation or comment) to TangoSourceDistribution , please log into Gitlab.com using your Github account **ASAP**.
See https://github.com/tango-controls/TangoTickets/issues/47 for details.

For convenience, here is the list of c

[2020-12-18 16:55] bourtemb opened #98 "Travis CI migration to Gitlab CI"
TangoSourceDistribution repository is using Travis CI.

At the beginning of January 2021, CI using Travis CI projects still on travis-ci.org will no longer work.
To avoid migrating to travis-ci.com which is less friendly with Open Source projects like tango-controls, the Tango Steering Committee decided to migrate the tango-controls git repositories to gitlab.com and to use Gitlab CI for the Conti

[2021-01-14 18:10] t-b commented on #97
The TangoSourceDistribution gitlab migration is foreseen on Thursday 21st January 2021.
So if you're mentioned above, please associate your Gitlab account to your GitHub account before that date or connect on Gitlab.com using the GitHub sign in button before that date.
Thanks in advance.

@bourtemb I stole your text.

[2021-01-19 10:35] #98 closed, assigned to t-b

[2021-01-19 13:47] t-b commented on #91
Fix is merged in cppTango.

[2021-01-19 13:47] #91 closed, assigned to t-b

[2021-02-02 07:35] beenje commented on #96
Separate repository to build Tango RPMs created on GitLab: https://gitlab.com/tango-controls/tango-spec
Closing.

[2021-02-02 07:35] #96 closed, assigned to nobody

[2022-04-06 17:06] #22 closed, assigned to nobody

[2022-04-06 17:06] #58 closed, assigned to nobody

[2022-04-06 17:06] #67 closed, assigned to nobody

[2022-04-06 17:07] #92 closed, assigned to nobody

[2022-04-06 17:07] #97 closed, assigned to nobody